<div id="page-wrapper">
    <div class="graphs">
        <div class="col_3">
            <!--<h1 class="text-green text-center">DASHBOARD</h1>-->

            <div class="row" style="padding-left: 15px;padding-right: 15px;">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-tasks"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><b>SESSIONS</b></span>
                            <span style="font-size: xx-large"><b>12</b></span>
                            <!--<span class="info-box-text">Loan Count</span>-->
                            <!--<span><b>12</b></span>-->
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><b>SPEAKERS</b></span>
                            <span style="font-size: xx-large"><b>10</b></span>

                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><b>TRACKS</b></span>
                            <span style="font-size: xx-large"><b>16</b></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><b>SPONSORS</b></span>
                            <span style="font-size: xx-large"><b>20</b></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- /.col -->
                <div style="padding-left: 15px;padding-right: 15px;" my-map=""></div>
            </div>
        </div>
    </div>
</div>