<div id="page-wrapper" ng-controller="CustomerFile">
    <div class="graphs">
        <div class="xs">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Management / Customer_File</h3>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="horizontal-form">
                            <form class="form-horizontal">


                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><b>Branch</b><span
                                            style="color: red">*</span></label>

                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="customerFile.branch"
                                                ng-click="branchClick()" id="branch">
                                            <option value="">Select Branch</option>
                                            <option ng-repeat="data in allBranch" value="{{data.branchid}}">
                                                {{data.name}} - {{data.town}}
                                            </option>
                                        </select>
                                    </div>
                                    <label class="col-sm-1 control-label"><b>Center</b><span
                                            style="color: red">*</span></label>

                                    <div class="col-sm-3">
                                        <select class="form-control" id="center" ng-model="customerFile.center"
                                                ng-click="centerClick()">
                                            <option value="">Select Center</option>
                                            <option
                                                    ng-repeat="data in allCenters" value="{{data.centerid}}">
                                                {{data.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="#/form" class="btn btn-primary">New Customer</a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-8">

                                        <div class="row" style="padding-left: 20px;padding-right: 20px;">
                                            <div class="form">
                                                <div class="col-lg-4">
                                                    <label>Ref ID</label>
                                                    <input ng-model="group.refId" placeholder="Enter Ref ID"
                                                           class="form-control">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Name</label>
                                                    <input ng-model="group.groupName" placeholder="Enter Group name"
                                                           class="form-control">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Save Group</label>
                                                    <input class="btn btn-primary" ng-click="saveNewGroup()"
                                                           value="Add">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div>
                                                    <input type="text" placeholder="Enter customer name"
                                                           ng-model="query"
                                                           class="form-control">
                                                </div>
                                                <br>

                                                <div style="max-height: 400px;overflow-y: scroll;">
                                                    <div>
                                                        <table class="table table-bordered" id="customerTable">
                                                            <tr>
                                                                <th>Name</th>
                                                                <th width="200px;">Group</th>
                                                                <th>Add</th>
                                                            </tr>
                                                            <tr ng-repeat="data in allCustomer | filter : query">
                                                                <td ng-click="customerClick(data.customerid)">
                                                                    {{data.name}}
                                                                </td>
                                                                <td height="40px;">
                                                                    <select class="form-control"
                                                                            id="customerGroup">
                                                                        <option value="">Select Group</option>
                                                                        <option ng-repeat="group in allGroups"
                                                                                value="{{group.groupid}}">
                                                                            {{group.groupName}}
                                                                        </option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-primary btn-xs"
                                                                            ng-click="saveGroupHasCustomer(data , $index)">
                                                                        Add
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div style="padding-right: 15px;">
                                                            <div class="alert alert-warning"
                                                                 ng-show="showCustomerError">
                                                                No members found in the selected center.
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="myDIV" class="col-sm-4">
                                        <div>
                                            <!-- Here is the tree view-->
                                            <ul class="list-group">
                                                {{customerGroup1}}
                                                <li ng-repeat="group in customerGroup" class="list-group-item">
                                                    {{group}}
                                                <li ng-repeat="data in group" class="list-group-item">
                                                    {{data}}
                                                </li>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Guarantee</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><b>Select Guarantees</b></label>

                        <div class="col-sm-6">
                            <select class="form-control" ng-model="guarantee">
                                <option value="">Select Guarantee</option>
                                <option ng-repeat="data in allGuarantees" value="{{data.customerid}}">
                                    {{data.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <button class="btn btn-success" ng-click="setToGuaranteeList()">Add Guarantee</button>
                </div>
            </div>
        </div>
    </div>
</div>
